[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/tiann/KernelSU
[submodule "kali-nethunter-kernel"]
	path = kali-nethunter-kernel
	url = https://github.com/Regloom/kali-nethunter-kernel.git
