[submodule "kali-nethunter-kernel"]
	path = kali-nethunter-kernel
	url = https://github.com/Regloom/kali-nethunter-kernel.git
[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/rifsxd/KernelSU-Next
